tests

# not useful configs
.travis.yml
*.config
.npmignore
tsconfig.json
!assets/tsconfig.json
typings.json
tslint.json

# .gitignore content:
# IDE
.idea

# vendors
node_modules
typings

# locally tested npm package build
*.tgz

# logs
npm-debug.log
coverage

