src
tests
.travis.yml
tsconfig.json
*.config
typings.json
.npmignore

# .gitignore content:
# IDE
.idea

# vendors
node_modules
typings

# compiled output
test.js
test.js.map

# logs
npm-debug.log
coverage

