tests
.travis.yml
tsconfig.json
*.config
typings.json
.npmignore

# .gitignore content:
# IDE
.idea

# vendors
node_modules
typings

# locally tested npm package build
*.tgz

# logs
npm-debug.log
coverage

